<h1>Sent Messages</h1>
<%= render :partial => "partials/messages_links.html.erb" %>
<div class="colorback">
	<table class="formtable">
		<tr>
			<th>To</th>
			<th>Subject</th>
			<th>Sent</th>
		</tr>
	<% for message in @messages %>
	<tr>
		<td>
			<%= link_to User.find(message.sender_user_id).first_name + " " + User.find(message.sender_user_id).last_name, :controller => :users, :action => :profile, :params => { :id => message.sender_user_id } %>
		</td>
		<td>
			<%= link_to message.subject, :action => :read_message, :params => { :id => message.id } %>
		</td>
		<td>
			<%= message.created_at.strftime("%m/%d/%y %I:%M%p") %>
		</td>
	</tr>
	<% end %>
	</table>
</div>