<h1>Reset Password</h1>
<div class="colorback">
<% form_for :user, @user, :url => {:controller => :users, :action => :create_forgot_password} do |f| %>
	Email Address:<br /><%= f.text_field(:email)%> <br/ >
<%= submit_tag "Reset" %>
<% end %>

</div>