<h1>Welcome to Vinetown</h1>
<div class="colorback">
<table>
	<tr>
		<td class="home">
			<% if !@news.nil? %>
			<h2>News</h2>
				<%= render :partial => "partials/poster.html.erb", :locals => { :posts => @news, :show_author => false } %>
			<% end %>
		</td>
		<td class="home">
			<% if !@posts.nil? %>			
			<h2>User Posts</h2>
				<%= render :partial => "partials/poster.html.erb", :locals => { :posts => @posts }  %>
			<% end %>
		</td>
	</tr>
</table>
</div>