<% @nb = "nb" %>
<% @count=0%>
<h1>My Groups</h1>
<div class="box"><%= link_to "Start a New Group", :controller => :groups, :action => :new %></div>
<div class="colorback">
<h2>My Groups</h2>
<table style="width:100%">
<% for group in @groups %>
<% @count+=1 %><% if @count%2 == 0 %><tr><% else %><tr class="zebra"><% end %><td><%= link_to group.name, :action => :view, :params => {:id => group.id}%></td></tr>
<% end %>
</table>
</div>