<h1>New Comment</h1>
<div class="colorback">
<table class="formtable">
<% form_for :comment, @comment, :url => {:params => { :post => { :id => @post_id }, :parent => @parent_id} } do |f| %>
	<tr><td><%= f.error_messages %></td></tr>
	<tr>
		<td>
			Comment<br />
			<%= f.text_area :text %>
		</td>
	</tr>
	<tr><td><%= f.submit "Submit" %><br /></td></tr>
<% end %>
</table>
</div>
