<% @count = 0 %>
<h1>Posts</h1>
<div class="box"><%=link_to "Write a New Post", :action => :new %></div>
<% if !@posts.empty?%>
<div class="colorback">
<table style="width:100%;">
<% for post in @posts %>
	<% @count+=1 %>
	<% if @count%2 == 0 %>
	  <tr>
	<% else %>
	  <tr class="zebra">
	<% end %>
		<td><%=link_to post.name, :action => :view, :params => {:id => post.id}%></td>
	</tr>
<% end %>
</table>
</div>
<% end %>